/* ---- Faq ---- */
@import '@resources';

.wrapper {
    @include flexible();
    justify-content: space-between;

    @include mq($tablet) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.content {
    max-width: 40%;

    @include mq($tablet) {
        text-align: center;
        max-width: 100%;
        margin-bottom: 36px;
    }
}

.image {
    position: relative;
    left: -70px;
    width: rem(447);
    height: rem(436);

    @include mq($tablet-large) {
        left: -60px;
        width: rem(386);
        height: rem(376);
    }

    @include mq($tablet) {
        left: 0;
        margin: 0 auto 32px;
        width: rem(360);
        height: rem(350);
    }

    @include mq($phablet) {
        width: rem(260);
        height: rem(250);
    }

    @include mq(320) {
        display: none;
    }
}

.title {
    @include font-size(56px);
    font-weight: 500;
    line-height: 125%;
    margin-top: 30px;

    @include mq($tablet-large) {
        @include font-size(32px);
    }

    @include mq($tablet) {
        @include font-size(45px);
    }
}

.colorTitle {
    color: var(--theme-color);
}

.list {
    max-width: 55%;

    @include mq($tablet) {
        max-width: 90%;
    }
}

.item {
    &:not(:last-of-type) {
        margin-bottom: 30px;
    }
}

.button {
    @include flexible();
    @include transition();
    width: 100%;
    justify-content: space-between;
    background: none;
    padding: 0;

    & svg {
        content: '';
        display: block;
        width: 32px;
        height: 32px;
        @include transition();
        opacity: 0.4;

        @include mq($tablet-large) {
            width: 24px;
            height: 24px;
        }
    }

    &:hover {
        @include link-hover();
        cursor: pointer;
    }
}

.question {
    @include font-size(24px);
    @include color-opacity($black-1, 0.4);
    @include transition();
    font-weight: 400;
    width: 90%;
    text-align: left;

    &:hover {
        @include color-opacity($black-1, 1);
    }

    @include mq($tablet-large) {
        @include font-size(20px);
    }

    @include mq($phone) {
        width: 80%;
    }
}

.buttonActive {
    & .question {
        @include color-opacity($black-1, 1);
        @include transition();
    }

    & svg {
        opacity: 1;
        transform: rotate(180deg);
        
        & path {
            stroke: var(--theme-color);
        }
    }
}

.answerWrapper {
    height: 0;
    overflow: hidden;
    transition: height ease $transition-delay;
    margin-top: 10px;
}

.answer {
    @include font-size(18px);
    @include color-opacity($black-1, 0.4);
}

.open {
    height: auto;
}