/* ---- Age Groups ---- */
@import '@resources';

.sectionTitle {
    font-weight: 500;
    text-align: center;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;

    @include mq($tablet) {
        display: flex;
        align-items: stretch;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $gray-1;
    padding: 30px;

    @include mq($tablet-large) {
        padding: 20px;
    }

    @include mq($tablet) {
        min-width: rem(235);
    }
}

.title {
    font-weight: 500;

    @include mq($tablet-large) {
        @include font-size(20px);
    }
}

.description {
    @include color-opacity($black-1, 0.4);
    @include font-size(20px);
    font-weight: 400;
    margin-top: 10px;

    @include mq($tablet-large) {
        @include font-size(16px);
    }
}

.button {
    @include font-size(20px);
    display: inline-block;
    font-weight: 400;
    color: $orange-color;
    margin-top: 15px;

    &:hover {
        @include link-hover();
    }

    @include mq($tablet-large) {
        @include font-size(16px);
    }
}