/* ---- Services ---- */
@import '@resources';

.sectionTitle {
    font-weight: 700;
    text-align: center;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 30px;

    @include mq($tablet + 100) {
        display: flex;
        align-items: stretch;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.arrow {
    @include fade(out);
}

.item {
    @include transition();
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: $gray-1;
    border-radius: 20px;
    padding-bottom: 10px;

    &:hover {
        & .arrow {
            @include fade(in);
        }
    }

    @include mq($tablet + 100) {
        min-width: rem(200);
    }
}

.image {
    position: relative;
    width: 100%;
    height: 165px;
    
    & img,
    & span {
        border-radius: 20px 20px 0 0;
    }

    @include mq($tablet-large) {
        height: 130px;
    }
}

.content {
    padding: 25px 20px;

    @include mq($tablet-large) {
        padding: 18px;
    }
}

.title {
    @include transition();
    @include font-size(22px);
    font-weight: 400;

    @include mq($laptop) {
        @include font-size(18px);
    }

    @include mq($tablet-large) {
        @include font-size(16px);
    }
}

.link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}