/* ---- Breadcrumbs ---- */
@import '@resources';

.section {
    padding: 0 0 50px 0;

    @include mq($tablet-large) {
        padding: 0 0 30px 0;
    }

    @include mq($tablet) {
        padding: 0 0 40px 0;
    }

    @include mq($phone) {
        padding: 0 0 20px 0;
    }
}

.list {
    @include flexible();

    @include mq($phone) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.item {
    @include flexible();

    &:not(:last-of-type) {
        &:after {
            content: '|';
            padding: 0 10px;
        }
    }

    @include mq($phone) {
        flex-direction: column;
        align-items: flex-start;

        &:not(:last-of-type) {
            &:after {
                content: '—';
                padding: 2px 0;
            }
        }
    }
}

.link, .text {
    @include transition();
    @include font-size(18px);
    @include color-opacity($black-3, 0.8);
    font-weight: 400;

    &:hover {
        @include transition();
        color: $black-1;
    }
}

.current {
    color: var(--theme-color) !important;
    pointer-events: none;
}