/* ---- Specification ---- */
@include font('Zebra', 'Zebra-Regular', 400, 'normal');
@include font('Zebra', 'Zebra-Medium', 500, 'normal');
@include font('Zebra', 'Zebra-Bold', 700, 'normal');

* {
    box-sizing: border-box;
    outline: none;
    border: none;
    scroll-margin-top: $section-gutter;

    @include mq($phablet) {
        scroll-margin-top: 100px;
    }
}

body {
    @include reset-indents();
    background: $background-color;
    font-family: $font-family;
    @include font-size($font-size);
    font-weight: $font-weight;
    color: $font-color;
    overflow-x: hidden !important;
    padding-right: 0 !important;
}

section {
    padding-bottom: $section-gutter;

    @include mq($tablet-large) {
        padding-bottom: 65px;
    }
}

h1, h2, h3, h4, h5, h6 {
    @include reset-indents();
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    @include font-size($h1-font-size);
    line-height: 100%;

    @include mq($tablet-large) {
        @include font-size(40px)
    }

    @include mq($phablet) {
        @include font-size(34px);
    }
}

h2 {
    @include font-size($h2-font-size);

    @include mq($tablet) {
        @include font-size(48px);
    }

    @include mq($phablet) {
        @include font-size(35px);
    }
}

h3 {
    @include font-size($h3-font-size);
}

h4 {
    @include font-size($h4-font-size);
}

p {
    @include reset-indents();
}

a {
    @include reset-indents();
    display: block;
    color: inherit;
    text-decoration: none;
}

ul, li {
    @include reset-indents();
    display: block;
}

img {
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

form {
    display: flex;
    flex-direction: column;
}

input,
button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

button {
    padding: 0;
    background: none;
}

.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-container {
    @include flexible();
    position: relative;
    justify-content: space-between;

    & svg {
        position: absolute;
        right: 20px !important;
        top: 25px;
        width: 24px;
        height: 24px;
        
        & path {
            @include transition();
            stroke: rgba($black-1, 0.4);
        }
    }
}

label {
    font-weight: 500;
}

input {
    @include transition();
    @include font-size(20px);
    padding: 14px 20px;
    border: 2px solid $white-1;
    background: $gray-1;
    color: $black-1;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;

    &::placeholder {
        @include color-opacity($black-1, 0.4);
    }

    &:focus {
        @include transition();
        border-color: var(--theme-color);

        & + svg {
            & path {
                @include transition();
                stroke: var(--theme-color);
            }
        }
    }
}

input[type="date"],
input[type="time"] {
    @include transition();
    @include color-opacity($black-1, 0.4);
    cursor: pointer;

    &::-webkit-calendar-picker-indicator {
        @include transition();
        opacity: 0.4;
    }

    &:focus {
        @include transition();
        color: var(--theme-color) !important;
        border-color: var(--theme-color) !important;

        &::-webkit-calendar-picker-indicator {
            @include transition();
            opacity: 1;
            filter: invert(77%) sepia(11%) saturate(1112%) hue-rotate(212deg) brightness(94%) contrast(94%);
        }
    }

    &::-webkit-datetime-edit:focus,
    &::-webkit-datetime-edit:focus,
    &::-webkit-datetime-edit:focus {
        @include transition();
        background: var(--theme-color) !important;
        color: #fff !important;
    }
}

label {
    @include font-size(20px);
    user-select: none;
}

button {
    &[disabled] {
        @include transition();
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }
}

.next-page[data-path="/"] #header {
    @include first-screen-bg();
}

.next-page[data-path="/404"] #footer,
.next-page[data-path="/organize"] #footer {
    display: none;
}

.error {
    @include transition();
    border-color: $red-color !important;
    color: $red-color !important;

    & p {
        @include transition();
        color: $red-color !important;
    }

    & svg path,
    & + svg path {
        @include transition();
        stroke: $red-color !important;
    }
}

/* ---- Scroll ---- */
::-webkit-scrollbar-track {
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
	background-color: var(--theme-color);
}

/* ---- Selection ---- */
::selection {
	@include selection();
}

::-moz-selection {
	@include selection();
}

.container {
    @include responsive-container();
}

.lock-scroll {
    overflow: hidden !important;
}

/* ---- Other ---- */
.swal2-container {
    font-family: inherit;
}

.swal2-title {
    font-size: 36px !important;
    font-weight: 600 !important;

    @include mq($phablet) {
        font-size: 30px !important;
    }

    @include mq(350) {
        font-size: 26px !important;
    }
}

.swal2-html-container {
    font-size: 20px !important;
    font-weight: 400 !important;
    color: rgba($black-1, 0.5) !important;

    @include mq($phablet) {
        font-size: 18px !important;
    }

    @include mq(350) {
        font-size: 16px !important;
    }
} 

.swal2-styled.swal2-confirm {
    padding: 15px 25px !important;
    width: fit-content !important;
    border-radius: 70px !important;
    font-size: 20px !important;
    background-color: var(--theme-color) !important;

    @include mq($phablet) {
        padding: 10px 20px !important;
        font-size: 18px !important;
    }

    @include mq(350) {
        font-size: 16px !important;
    }
}

.swal2-icon.swal2-success .swal2-success-ring {
    border-color: var(--theme-color) !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=long],
.swal2-icon.swal2-success [class^=swal2-success-line][class$=tip] {
    background-color: var(--theme-color) !important;
}