/* ---- Gallery ---- */
@import '@resources';

.sectionRow {
    @include flexible();
    justify-content: space-between;
}

.sectionTitle {
    font-weight: 500;

    @include mq($tablet-large) {
        @include font-size(32px);
    }

    @include mq($phablet) {
        @include font-size(28px);
    }
}

.buttons {
    @include flexible();
}

.prevSlide,
.nextSlide {
    @include transition();
    position: relative;
    display: block;
    width: 54px;
    height: 54px;
    background: none;
    border-radius: 50%;
    border: 1.5px solid var(--theme-color);
    cursor: pointer;

    & svg {
        @include center-element();

        & path {
            stroke: var(--theme-color);
        }
    }

    &:hover {
        @include transition();
        background: var(--theme-color);

        & svg path {
            stroke: #fff !important;
        }
    }

    &[disabled] {
        @include transition();
        opacity: 0.5;
        cursor: default;
    }
}

.prevSlide {
    margin-right: 30px;

    @include mq($phablet) {
        margin-right: 15px;
    }
}

.slides {
    width: 100% !important;
    margin-top: 30px;
    border-radius: 40px;
}

.image {
    position: relative;
    width: 100%;
    height: 40vh;
    border-radius: 40px;

    & img,
    & span {
        border-radius: 40px;
    }

    @include mq($tablet-large) {
        height: 30vh;
    }

    @include mq($phablet) {
        height: 30vh;
    }
}

.cubic {
    position: absolute;

    & path {
        fill: var(--theme-color);
    }
}

.cubicBefore {
    top: 65px;
    left: -20px;
}

.cubicAfter {
    bottom: -15px;
    right: 0;
    transform: rotateX(-180deg) rotateY(-180deg);

    @include mq($tablet) {
        display: none;
    }
}

@media (hover: none) {
    .prevSlide, .nextSlide {
        &:hover {
            background: none;
            color: var(--theme-color) !important;
        }
    }
}