/* ---- Footer ---- */
@import '@resources';

.wrapper {
    background: $gray-1;
    padding: 50px 0;
    margin-top: 150px;

    @include mq($tablet-large) {
        margin-top: 128px;
    }

    @include mq($phablet) {
        padding: 32px 0;
    }
}

.logo {
    @include font-size(28px);
    font-weight: 400;
    width: fit-content;
    margin: 0 auto;
}

.row {
    @include flexible();
    justify-content: space-between;
    margin-top: 50px;

    @include mq($laptop) {
        align-items: flex-start;
    }

    @include mq($tablet) {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 32px;
    }
}

.rowWrapper {
    @include flexible();

    @include mq($tablet) {
        margin-top: 32px;
    }
}

.listWrapper {
    display: flex;
    align-items: flex-start;

    @include mq($tablet-large) {
        margin-right: 10px;
    }

    @include mq($tablet) {
        width: 100%;
        flex-direction: column;
    }
}

.services {
    margin-right: 30px;

    @include mq($tablet-large) {
        margin-top: 0;
    }

    @include mq($tablet) {
        width: 100%;
    }
}

.servicesItem {
    margin-bottom: 10px;

    @include mq($tablet) {
        width: 100%;
        padding: 15px 0 15px 15px;
        margin-bottom: 0;
        border-top: 1px solid rgba($black-1, 0.4);

        &:first-of-type {
            border-top: none;
        }

        &:last-of-type {
            border-bottom: 1px solid rgba($black-1, 0.4);
        }
    }
}

.servicesLink {
    @include color-opacity($black-1, 0.4);
    @include flexible();
    @include transition();
    @include font-size(18px);
    justify-content: space-between;
    font-weight: 400;

    &:after {
        content: '';
        display: none;
        width: 32px;
        height: 32px;
        @include transition();
        @include background('/img/layout/header/arrow-right.svg');
    }

    @include mq($tablet) {
        @include font-size(20px);

        &:after {
            display: block;
        }
    }
}

.contacts {
    margin-left: 30px;

    @include mq($tablet-large) {
        @include flexible();
        justify-content: space-between;
        margin-left: 0;
        margin-top: 50px;
    }

    @include mq($tablet) {
        margin-top: 32px;
    }
}

.contactsWrapper {
    @include flexible();

    @include mq($tablet) {
        flex-direction: column;
        align-items: flex-start
    }
}

.city {
    @include color-opacity($black-1, 0.4);
    @include font-size(18px);
}

.phone {
    @include transition();
    @include color-opacity($black-1, 0.4);
    @include font-size(18px);
    margin-top: 20px;

    &:hover {
        @include transition();
        @include color-opacity($black-1, 0.8);
    }

    @include mq($tablet-large) {
        margin-top: 0;
        margin-left: 68px;
    }

    @include mq($tablet) {
        margin-top: 15px;
        margin-left: 0;
    }
}

.socials {
    @include flexible();
    column-gap: 15px;
    margin-top: 20px;

    @include mq($tablet) {
        column-gap: 10px;
    }
}

.socialsLink {
    @include transition();
    display: inline-block;

    &:hover {
        @include link-hover();
    }
}

.icon {
    & path {
        stroke: var(--theme-color);
    }
}

.instagramIcon {
    & path {
        stroke: none;
        fill: var(--theme-color);
    }
}

.info {
    @include flexible();
    justify-content: space-between;
    padding-top: 50px;
    margin-top: 50px;
    border-top: 1px solid rgba($black-1, 0.4);

    @include mq($tablet) {
        padding-top: 32px;
        margin-top: 32px;
    }
}

.link {
    @include color-opacity($black-1, 0.4);
    @include transition();
    @include font-size(16px);

    &:hover {
        @include transition();
        @include color-opacity($black-1, 0.8);
    }
}